figure {
  margin: 0;
  position: relative;
}

img {
  max-width: 80%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.carousel-anchor {
  text-decoration: none;
  color: #ffc371;
}

.carousel-anchor:hover {
  color: #ffc371;
}

.carousel-caption {
  text-align: center;
  font-style: italic;
}

.carousel-caption-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-description {
  margin-bottom: 1.5em;
}

.carousel-next {
  float: right;
}

.carousel-next:hover, .carousel-previous:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: #ffc371;
}

.carousel-node-container {
  text-align: center;
  margin-top: 2em;
}

.carousel-node {
  margin: 0 auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  background-color: #d4d4d4;
  cursor: pointer;
  transition: 0.3s ease;
}

.carousel-node:hover {
  background-color: #dc5964;
}

.carousel-node:not(:first-child) {
  margin-left: 1em;
}

.carousel-node.active-node {
  background-color: #dc5964;
}

.carousel-previous {
  float: left;
}

.carousel-subtitle {
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  img {
    max-width: 95%;
  }
}
