figure {
  margin: 0;
  position: relative;
}

img {
  max-width: 80%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.control-container {
  width: 80%;
  margin: 0 auto;
}

.revolv-anchor {
  text-decoration: none;
  color: #ffc371;
}

.revolv-anchor:hover {
  color: #ffc371;
}

.revolv-caption {
  text-align: center;
  font-style: italic;
}

.revolv-caption-container {
  width: 80%;
  margin: 0 auto;
}

.revolv-class {
  color: #ffc371;
}

.revolv-description {
  margin-bottom: 1.5em;
}

.revolv-next {
  float: right;
}

.revolv-next:hover, .revolv-previous:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: #ffc371;
}

.revolv-node-container {
  text-align: center;
  margin-top: 2em;
}

.revolv-node {
  margin: 0 auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  background-color: #d4d4d4;
  cursor: pointer;
  transition: 0.3s ease;
}

.revolv-node:hover {
  background-color: #dc5964;
}

.revolv-node:not(:first-child) {
  margin-left: 1em;
}

.revolv-node.active-node {
  background-color: #dc5964;
}

.revolv-previous {
  float: left;
}

.revolv-subtitle {
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  img {
    max-width: 95%;
  }

  .control-container {
    width: 95%;
  }
}
